*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html,body{
    height:100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    
}

#r{
    margin-left: 62%;
    margin-right: 0%;
    width: 35%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#nava{
    width: 100%;
    height: 50px;
    background-color: white;
  
}

#navb{
    width: 100%;
    height: 52px;
    background-color: transparent;
    align-items: center;

}

#left #navb h5{
    padding-left: 100px;
    padding-top: 20px;
}

#navd{
    display: flex;
    width:100%;
    height: 160px;
    background-color: transparent;
    position: absolute;
}

#dnavc{
    width: 100%;
    height: 52px;
    background-color: transparent;
    display: flex;
    align-items: center;
   
}

#navdr{
    height: 100%;
    width: 71% ;
    background-color:transparent;
}

#navdr h1{
    padding-left: 40px;
    padding-top: 30px;
}

.checked {
    color: orange;
  }

  #q{
      padding-left: 50px;
      display: flex;
      align-items: center;
      height: 100%;
      width: 220px;
      background-color: transparent;
      margin-left: 16%;
  }
#t{
    display: flex;
    margin-top: 27px;
    padding-left: 40px;
    width: 100%;
    height: fit-content;
    background-color: transparent;
    align-items: center;
}

#t a{
    margin-left: 140px;
    color: orange;
}

#navdr h3{
    padding-left: 40px;
}

#dnavc h5{
    padding-left: 40px;
}


#mnl{
    height: 100%;
    width: 460px;
    background-color: transparent;
}

#mnl h2{
    padding-left: 97px;
    padding-top: 35px;
}

#mnl #tag1{
    margin-left: 97px;
    margin-top: 2px;
    height: 35px;
    width: 120px;
    background-color: azure;
    
}

#mnl #tag2{
  
    margin-top: 2px;
    height: 35px;
    width: 120px;
    background-color: azure;
}

#mnl #tag3{
    margin-left: 97px;
    margin-top: 3px;
    height: 35px;
    width: 120px;
    background-color: azure;
}

 #mn{
     display: flex;
   
    height: 93%;
    width: 100%;
 }

 #left{
     height: 99.9%;
     width:460px;
     background-color: rgb(212, 211, 211);
     
   
 }

#right{
    height: 99.9%;
    width: 71.50%;
    background-color: whitesmoke;
}

#image
{
    border-radius: 3%;
    height: 400px;
    width: 560px;
    background-image:url("master.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    margin-top: 16%;
    margin-left: 100px;
    position: absolute;
    display: flex;
}

#le
{
    border-radius: 3%;
    width: 24%;
    height: 100%;
    background-color: transparent;
}

#of1{
    border-radius: 3%;
    margin-bottom: 2px ;
    margin-left: 2px ;
    margin-right: 2px ;
    height: 22.5%;
    width: 98%;
    background-image: url("sub1.avif");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit:fill;
}

#of2{
    border-radius: 3%;
    margin-bottom: 2px ;
    margin-left: 2px ;
    margin-right: 2px ;
    height: 22.5%;
    width: 98%;
    background-size: cover;
    background-image: url("sub2.avif");
    background-repeat: no-repeat;
    object-fit:fill;
}

#of3{
    border-radius: 3%;
    margin-bottom: 2px ;
    margin-left: 2px ;
    margin-right: 2px ;
    height: 22.5%;
    width: 98%;
    background-size: cover;
    background-image: url("t.jpg");
    background-repeat: no-repeat;
    object-fit:fill;

}

#of4{
    border-radius: 3%;
    margin-bottom: 2px ;
    margin-left: 2px ;
    margin-right: 2px ;
    height: 22.5%;
    width: 98%;
    background-size: cover;
    background-image: url("g.jpg");
    background-repeat: no-repeat;
    object-fit:fill;

}

#re{
    margin-bottom: 2px ;
    margin-left: 2px ;
    margin-right: 2px ;
    width: 98%;
    height: 7%;
    background-color: aliceblue;
    opacity: 0.6;
}


  
/*apply css properties to button tag*/
  


#rrtext h5{
    margin-top: 30px;
}

#ui h3{
    padding-left: 40px;
}

#ui #js
{
    margin-left: 90px;
}

#ter{
    height: 30px;
    width: 150px;
    margin-left: 130px;
    align-items: center;
    background-color: orange;
}

#ter h5
{
    color: white;
    margin-top: -4px;
}

#last a{
    text-decoration: none;
    color: black;
}

a:hover
{
text-decoration: none;
border-bottom: 1px solid orange;
}
#last{
    text-decoration: none;
    align-items: center;
    background-color: transparent;
    width: 100%;
    margin-top: 40px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

#rrtext #ui{
    
 display: flex;
  
    margin-top: 55px;
    height: 26px;
    width: 100%;
    background-color: transparent;
}

#js{
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 200px;
    background-color: transparent;
}

#rrtext{
    
   padding-right: 70px;
}

#rrtext{
    position: absolute;
    margin-left: 690px;
    margin-top: 240px;
    
    width: 846px;
    height: 420px;
}
